extends layout

block content
  h1.text-center= title
 
  p Id #{user.id}
  p Name #{user.name}
  p Role #{user.role}
  p Provider #{user.provider}
  if(user.provider=='local')
     img(src='/images/'+user.image)
  else
     img(src=user.image)